* {
    box-sizing: content-box;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: block;
}

header h1 {
    padding: 0 1.5rem;
}

header > ul {
    display: flex;
    background-color: #333333;
    margin: 0;
    padding: 0 1.5rem;
}


main {
    flex: 1 0 auto;
    padding: 0 1.5rem;
}

footer {
    padding: 1.5rem 1.5rem;
    color: #ededed;
    background-color: #6d7be6;
}

header > ul li {
    display: inline-block;
}

header > ul li > a {
    display: block;
    text-decoration: none;
    color: #ededed;
    background-color: #333333;
    padding: .75rem 1.5rem;
}

header > ul li > a:hover {
    background-color: #6d7be6;
}

header > ul li > a.active {
    background-color: #e66dca !important;
}

form label {
    display: block;
}

form label > span, form label > input {
    display: block;
    padding: .5rem 0;
}

form label > span {
    margin-bottom: .25rem;
}

form label > input, form label > input:focus, form button {
    padding: .5rem .75rem;
    height: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #333333;
    background-color: #ededed;
    width: 250px;
}

form label > input:hover, form label > input:focus {
    background-color: #dbdbdb;
}

form button {
    border: 1px solid #333333;
}

form button:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}